/* Add CSS Styling */

.regular {
    background-color: #FF9EAD;
    font-family: "Verdana", "DejavuSans", sans-serif;
}

.medium {
    font-size: 25px;
}

#Number2 {
    font-size: 35px;
    color: blue;
}

#green {
    background-color: greenyellow;
}